.footer.-type-1 {
  .footer {
    &__main {
      position: relative;
      z-index: 0;

      @include media-below(md) {
        padding-top: 60px;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 60px;
      right: 60px;
      z-index: -1;

      @include media-below(lg) {
        right: 0;
        left: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        
        @include media-below(lg) {
          border-radius: 0;
        }
      }
    }

    &__info {
      padding-top: 80px;
      padding-bottom: 48px;
      border-bottom: 1px solid rgba(#EB662B, 0.15);

      @include media-below(md) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    &__content {
      padding-top: 60px;
      padding-bottom: 60px;

      @include media-below(md) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    &__newsletter {
      position: relative;
      margin-top: 10px;
      
      input {
        width: 100%;
        height: 60px;
        padding: 0 20px;
        background-color: white;
        border: 1px solid var(--Border, #E7E6E6);
        border-radius: 12px;
      }

      button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 0 20px;
        color: var(--color-dark-1);
        z-index: 1;
      }
    }

    &__bottom {
      padding: 20px 0;
    }
  }

  .footerSocials {
    display: flex;
    align-items: center;

    @include media-below(md) {
      align-items: flex-start;
      flex-direction: column;
    }

    &__title {
      font-size: 17px;
      font-weight: 500;
      margin-right: 10px;
    }

    &__icons {
      display: flex;

      @include media-below(md) {
        position: relative;
        left: -12px;
        margin-top: 8px;
      }

      > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 15px;
        transition: .2s;

        &:hover {
          background-color: var(--color-accent-1) !important;
          color: white !important;
        }
      }
    }
  }

  &.-light {
  }

  &.-dark {
    .footer__bg {
      left: -20px;
      right: -20px;
    }

    h4 {
      color: white;
    }

    p {
      color: white;
    }
  }

  &.-round {
    .footer__bg {
      left: 30px;
      right: 30px;

      @include media-below(lg) {
        right: 0;
        left: 0;
        border-radius: 0 !important;
      }
    }
  }
}
