{% extends 'base.html' %}
{% load static %}

{% block title %}
ShadhinTrip: Tours And Packages, all in one.
{% endblock %}

{% block content %}
<section data-anim="fade" class="hero -type-10">
    <div class="hero__bg">
        <img src="{% static 'assets/img/cta/nepal.jpeg' %}" alt="image">
        <!-- <img src="{% static 'assets/img/cta/shape.svg' %}" alt="image"> -->
    </div>
</section>

<div class="newsletter-section pb-40">
    <h2 class="newsletter-title">Subscribe to Our Newsletter</h2>
    <form class="newsletter-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="newsletter-submit-btn" type="submit">Subscribe</button>
    </form>
</div>
{% endblock content %}
