{% extends 'base.html' %}
{% load static %}

{% block title %}
ShadhinTrip: Subscription Success
{% endblock %}

{% block content %}
<section data-anim="fade" class="hero -type-1 -min">
    <div class="hero__bg">
        <img src="{% static 'assets/img/hero/1/nepal.jpeg' %}" alt="image">
        <img src="{% static 'assets/img/hero/1/shape.svg' %}" alt="image">
    </div>
</section>
<section class="subscription-success">
    <div class="container">
        <div class="success-message">
            <h2>Thank you for subscribing!</h2>
            <p>You're now subscribed to our newsletter. Stay tuned for exciting updates and offers.</p>
        </div>
        <div class="back-home">
            <a href="{% url 'index' %}" class="back-home-link">Back to Home</a>
        </div>
    </div>
</section>
{% endblock content %}
