
{% extends 'auth/dashboard/dashboard.html' %}
{% load static%}
{% block title %}
ShadhinTrip: Tours And Packages, all in one.
{% endblock %}

{% block dashboard_content %}

<div class="dashboard__content_content">

    <h1 class="text-30">My Favorites</h1>
    <p class="">Welcome to the "My Favorites" feature on ShadhinTrip!

      With the love icon, you can easily mark your favorite tour packages and save them for future reference. Simply click on the love icon next to the tour package image, and it will be added to your Favorites list. Whether you're dreaming of a relaxing beach getaway or an adventurous mountain trek, keep track of your favorite destinations and revisit them whenever you like. Your personalized Favorites list makes it easy to plan your next memorable journey with ShadhinTrip!</p>

    <div class="rounded-12 bg-white shadow-2 px-40 pt-40 pb-30 mt-60">
      <div class="row y-gap-30">

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/bg.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                Paris, France
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>Centipede Tour - Guided Arizona Desert Tour by ATV</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$189,25</span></div>
              </div>
            </div>
          </a>

        </div>

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/bg2.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                New York, USA
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>Molokini and Turtle Town Snorkeling Adventure Aboard</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$225,00</span></div>
              </div>
            </div>
          </a>

        </div>

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/bg3.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                London, UK
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>Westminster Walking Tour &amp; Westminster Abbey Entry</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$943,00</span></div>
              </div>
            </div>
          </a>

        </div>

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/nepal.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                Paris, France
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>Space Center Houston Admission Ticket</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$189,25</span></div>
              </div>
            </div>
          </a>

        </div>

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/bg.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                New York, USA
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>Clear Kayak Tour of Shell Key Preserve and Tampa Bay Area</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$225,00</span></div>
              </div>
            </div>
          </a>

        </div>

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/bg3.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                London, UK
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>History and Hauntings of Salem Guided Walking Tour</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$943,00</span></div>
              </div>
            </div>
          </a>

        </div>

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/bg2.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                Paris, France
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>All Inclusive Ultimate Circle Island Day Tour with Lunch</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$189,25</span></div>
              </div>
            </div>
          </a>

        </div>

        <div class="col-lg-3 col-md-6">

          <a href="#" class="tourCard -type-1 py-10 px-10 border-1 rounded-12  -hover-shadow">
            <div class="tourCard__header">
              <div class="tourCard__image ratio ratio-28:20">
                <img src="{% static 'assets/img/hero/1/bg3.jpeg' %}" alt="image" class="img-ratio rounded-12">
              </div>

              <button class="tourCard__favorite">
                <i class="icon-heart"></i>
              </button>
            </div>

            <div class="tourCard__content px-10 pt-10">
              <div class="tourCard__location d-flex items-center text-13 text-light-2">
                <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                New York, USA
              </div>

              <h3 class="tourCard__title text-16 fw-500 mt-5">
                <span>Mauna Kea Summit Sunset and Stars Free Astro</span>
              </h3>

              <div class="tourCard__rating d-flex items-center text-13 mt-5">
                <div class="d-flex x-gap-5">

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                  <div><i class="icon-star text-10 text-yellow-2"></i></div>

                </div>

                <span class="text-dark-1 ml-10">4.8 (269)</span>
              </div>

              <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                <div class="d-flex items-center">
                  <i class="icon-clock text-16 mr-5"></i>
                  4 days
                </div>

                <div>From <span class="text-16 fw-500">$225,00</span></div>
              </div>
            </div>
          </a>

        </div>

      </div>

      <div class="d-flex justify-center flex-column mt-60">

        <div class="pagination justify-center">
          <button class="pagination__button button -accent-1 mr-15 -prev">
            <i class="icon-arrow-left text-15"></i>
          </button>

          <div class="pagination__count">
            <a href="#">1</a>
            <a href="#" class="is-active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <div>...</div>
            <a href="#">20</a>
          </div>

          <button class="pagination__button button -accent-1 ml-15 -next">
            <i class="icon-arrow-right text-15"></i>
          </button>
        </div>

        <div class="text-14 text-center mt-20">Showing results 1-30 of 1,415</div>

      </div>
    </div>

    <div class="text-center pt-30">
      © Copyright Viatours 2023
    </div>

  </div>

{% endblock dashboard_content %}
