.cta.-type-3 {
  position: relative;
  z-index: 0;

  .cta {
    &__bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    &__content {
      padding: 100px 0;

      @include media-below(lg) {
        padding-bottom: 0;
      }

      @include media-below(md) {
        padding-top: 60px;
      }
    }
  
    &__image {
      position: absolute;
      bottom: 0;
      
      @include media-below(lg) {
        position: relative;
      }
    }
  }
}
