{% load static %}
<section data-anim="fade" class="hero -type-10 pt-0">
    <div class="hero__bg bg-accent-2"></div>
  </section>
<section data-anim="fade" class="hero -type-10">
  <div class="hero__bg">
    {% for site_setting in site_settings %}
        {% if site_setting.banner_image %}
            <img src="{{ site_setting.banner_image.url }}" alt="banner image">
        {% else %}
            <img src="{% static 'assets/img/tour/banner/1.png' %}" alt="default image">
        {% endif %}
    {% endfor %}
</div>

</section>