{% extends 'base.html' %}
{% load static %}
{% load price_filter %}
{% block title %}
ShadhinTrip: Booking Summary
{% endblock %}
{% block content %}

<section data-anim="fade" class="hero -type-10 pt-0">
  <div class="hero__bg">
    {% with tour_details.images.first as main_photo %}
      <img src="{{ main_photo.image.url }}" alt="image">
    {% endwith %}
  </div>
</section>

<section data-anim-wrap class="layout-pb-lg mt-header booking-summary">
  <div class="container">
    <form id="bookingForm" class="traveler-form" method="post" action="{% url 'booking_success' slug=tour_details.slug%}">
      {% csrf_token %}
    <div class="row">
      <div data-anim-child="fade" class="col-lg-8">
        <div class="bg-white rounded-12 shadow-shadhin py-30 px-30 md:py-20 md:px-20 mt-30">
          <h2>Traveller Information</h2>
          <div class="row y-gap-30 pt-30">
            <div class="row y-gap-30 contactForm">
              <div class="col-lg-6">
                <div class="form-input">
                  <input type="text" required value="{{ user.first_name }}" name="first_name">
                  <label class="lh-1 text-16 text-light-1">First Name *</label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-input">
                  <input type="text" required value="{{ user.last_name }}" name="last_name">
                  <label class="lh-1 text-16 text-light-1">Last Name *</label>
                </div>
              </div>
              <!-- <div class="col-lg-6">
                <div class="form-input">
                  <input type="email" required value="{{ user.email }}" readonly>
                  <label class="lh-1 text-16 text-light-1">Email: {{ user.email }}</label>
                </div>
              </div> -->
              <div class="col-lg-6">
                <div class="form-input">
                  <input type="text" required value="+880" name="phone_number">
                  <label class="lh-1 text-16 text-light-1">Phone Number *</label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-input">
                  <input type="text" required name="nationality">
                  <label class="lh-1 text-16 text-light-1">Nationality *</label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-input">
                  <input type="date" required name="date">
                  <label class="lh-1 text-16 text-light-1">Expected Date *</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-input">
                  <textarea required name="address"></textarea>
                  <label class="lh-1 text-16 text-light-1">Address *</label>
                </div>
              </div>

              
              
            </div>
          </div>
        </div>
      </div>
      <div data-anim-child="fade delay-2" class="col-lg-4">
        
          <div class="d-flex justify-end js-pin-content">
            <div class="tourSingleSidebar">
              <div class="d-flex mt-30 mb-20">
                {% with tour_details.images.first as main_photo %}
                <img src="{{ main_photo.image.url }}" alt="image">
                {% endwith %}
              </div>
              
              <h2 class="text-20 fw-500 text-center">{{ tour_details.title }}</h2>
              <div class="line mt-20 mb-20"></div>
                <p class="text-20 fw-500 pb-20">Package Summary</p>
                <div class="layout-pb-md">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Duration</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                                <div class="text-14 size-20"> <i class="icon-clock text-16 mr-5"></i> {{ tour_details.duration_days }} Days {{ tour_details.duration_nights }} Nights </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="pt-10">
                        <div class="d-flex items-center justify-between">
                            <div class="text-14">Max Participants</div>
                            <div class="d-flex items-center">
                                <div class="flex-center ml-10 mr-10">
                                    <div class="text-14 size-20"><i class="icon-teamwork text-16 mr-5"></i> {{ tour_details.max_participants }}</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="line mt-10"></div>
                    <p class="text-20 fw-500 pb-20">Price Summary</p>
                    <div class="pb-20">
                        <div class="d-flex items-center justify-between">
                            <div class="text-14">Price Per Person</div>
                            <div class="d-flex items-center">
                                <div class="flex-center ml-10 mr-10">
                                    <div id="tourprice" class="text-14 size-20 js-count">BDT {{ tour_details.price|format_price }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex items-center justify-between">
                            <div class="text-14">No. of People</div>
                            <div class="d-flex items-center">
                                <a type="button" class="button size-30 border-1 rounded-full js-down">
                                    <i class="icon-minus text-10"></i>
                                </a>
                                <div class="flex-center ml-10 mr-10">
                                    <div id="numTravelers" class="text-14 size-20 js-count">1</div>
                                    <input type="hidden" name="num_travelers" id="numTravelersInput" value="1">
                                </div>
                                <a type="button" class="button size-30 border-1 rounded-full js-up">
                                    <i class="icon-plus text-10"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="line mt-20 mb-20"></div>
                    <div class="d-flex items-center justify-between">
                        <div class="text-18 fw-500">Total:</div>
                        <div id="totalPrice" class="text-18 fw-500">BDT {{ tour_details.price|format_price }}</div>
                    </div>
                    <div class="pt-30">
                      <button type="submit" class="button -md -dark-1 bg-accent-1 text-white m-auto">
                        Complete Booking
                        <i class="icon-arrow-top-right text-16 ml-10"></i>
                      </button>
                    </div>
                </div>
                
            </div>
            
        </div>
      </div>
    </div>
  </form>
  </div>
</section>



{% endblock content %}

{% block additional_scripts %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      let numTravelers = 1;
      const tourprice = parseFloat("{{ tour_details.price|floatformat:2 }}"); // Format price here
      const maxPeople = parseInt("{{ tour_details.max_participants }}"); // Get max people from the server
  
      // Function to format the price
      function formatPrice(price) {
          if (Number.isInteger(price)) {
              return price.toLocaleString('en-BD');
          } else {
              return price.toLocaleString('en-BD', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
          }
      }
  
      // Function to update total price
      function updateTotalPrice() {
          const totalPrice = tourprice * numTravelers;
          document.getElementById('tourprice').textContent = `BDT ${formatPrice(tourprice)}`;
          document.getElementById('totalPrice').textContent = `BDT ${formatPrice(totalPrice)}`;
      }
  
      // Event listener for increasing number of travelers
      document.querySelector('.js-up').addEventListener('click', function() {
          if (numTravelers < maxPeople) {
              numTravelers++;
              document.querySelector('#numTravelers').textContent = numTravelers;
              document.querySelector('#numTravelersInput').value = numTravelers; // Update hidden input value
              updateTotalPrice();
          }
      });
  
      // Event listener for decreasing number of travelers
      document.querySelector('.js-down').addEventListener('click', function() {
          if (numTravelers > 1) {
              numTravelers--;
              document.querySelector('#numTravelers').textContent = numTravelers;
              document.querySelector('#numTravelersInput').value = numTravelers; // Update hidden input value
              updateTotalPrice();
          }
      });
  
      // Update total price initially
      updateTotalPrice();
  });
  </script>
  

{% endblock additional_scripts %}
