button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 0.3s $easeOutQuart;
}

.button {
  &.-sm {
    padding: 7px 20px;
  }

  &.-md {
    padding: 16px 35px;
  }
  
  &.-lg {
  }

  &.-h-50 {
    height: 50px;
  }
  
  &.-min-260 {
    min-width: 260px;
  }

  &.-underline:hover {
    text-decoration: underline;
  }
}

@each $name, $color in $colors {
  .button.-#{$name} {
    &:hover {
      border-color: var(--color-#{$name});
      background-color: var(--color-#{$name}) !important;
      color: white !important;
    }
  }

  .button.-outline-#{$name} {
    border-color: var(--color-#{$name});

    &:hover {
      background-color: var(--color-#{$name}) !important;
      border-color: transparent;
      color: white !important;
    }
  }
}

// .button.-blue-1-05 {
//   &:hover {
//     background-color: color-opac(blue-1, .05) !important;
//     color: var(--color-blue-1) !important;
//   }
// }

.button.-outline-white {
  &:hover {
    background-color: white !important;
    color: var(--color-dark-1) !important;
  }
}


.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 160px;
  height: 160px;

  &.-sm {
    width: 90px;
    height: 90px;
  }
  
  @include media-below(md) {
    width: 100px;
    height: 100px;
    
    > i {
      font-size: 18px !important;
    }
  }

  &:hover {
    color: var(--color-accent-1);
  }
}


.arrowButton.-type-1 {
  display: flex;
  align-items: center;

  > span {
    width: 50px;
    height: 50px;
    margin-right: 15px;

    i {
      transform: rotate(-90deg);
    }
  }
}

.buttonArrow {
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}
