.sidebar.-type-2 {
  width: 360px;
  max-width: 100%;
  border-radius: 12px;
  border: 1px solid var(--border, #E7E6E6);
  padding: 35px 30px;

  @include media-below(lg) {
    width: 100%;
  }

  .sidebar {
    &__item {
      + * {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #E7E6E6;
      }
    }

    &__search {
      position: relative;
      width: 100%;
      margin-bottom: 30px;

      > i {
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
      }

      > input {
        border-radius: 12px;
        width: 100%;
        padding: 14px 20px;
        padding-left: 46px;
        background-color: var(--bg-1, #F5F5F5);
      }
    }

    &__tags {
      flex-wrap: wrap;

      > * {
        a {
          display: block;
          font-size: 14px;
          line-height: 28px;
          font-weight: 500;
          padding: 6px 17px;
          border-radius: 200px;
          border: 1px solid var(--border, #E7E6E6);
        }
      }
    }
  }
}
