.pageHeader.-type-3 {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 88px;
  
  @include media-below(md) {
    margin-top: 57px;
  }

  .pageHeader {
  }
}