.tourCard.-type-2 {
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  gap: 30px;
  height: 100%;
  border-radius: 12px;
  border: 1px solid var(--border, #E7E6E6);
  padding: 20px;
  transition: 0.2s;

  @include media-below(xl) {
    grid-template-columns: 1fr 1fr;

    > *:nth-child(1) {
      grid-column: 2 span;
      width: 100% !important;
    }
  }

  @include media-below(md) {
    grid-template-columns: 1fr;
    gap: 16px;

    > *:nth-child(1) {
      grid-column: 1 span;
    }

    > *:nth-child(3) {
      border-left: none !important;
      padding: 0 !important;
      width: 100% !important;
    }
  }
  
  .tourCard {
    &__image {
      position: relative;
      flex-shrink: 0;
      width: 280px;
      min-height: 260px;
      z-index: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
      }
    }

    &__badge {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1;
    }

    &__favorite {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
    }

    &__content {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__location {}

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      // whitespace: nowrap;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
    }

    &__text {}


    &__info {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      width: 225px;
      border-left: 1px solid #E7E6E6;
      padding: 10px 10px 10px 30px;

      @include media-below(lg) {
        > *:nth-child(1) {
          align-items: flex-start !important;
          text-align: left !important;
        }
      }

      > *:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
      }

      > *:nth-child(2) {
        width: 100%;
        padding: 15px 0;
        margin-top: 20px;
      }
    }

    &__price {
      > *:nth-child(1) {
        font-size: 15px;
        line-height: 1.4;
        text-decoration-line: line-through;
        color: var(--icon, #C6C6D2);
      }

      > *:nth-child(2) {
        line-height: 1.4;
      }
    }
  }

  &:hover {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
  }
}
