:root {
  --font-primary: "DM sans", sans-serif;
}

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1250px,
);

$breakpoints-loop: (
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 480px,
);

$font-size: 15px;
$text-sizes:
  8, 10, 13, 14, 15, 16, 18, 20, 24, 26, 30, 40, 50, 70
;

:root {
  @each $size in $text-sizes {
    --text-#{$size}: #{$size}px;
  }
}

$colors: (
  white: #FFFFFF,
  black: #000000,
  border: #DDDDDD,

  accent-1: #EB662B,
  accent-1-dark: #CE5A25,
  accent-2: #4A43C4,

  dark-1: #05073C,

  blue-1: #1967D2,

  red-1: #D93025,
  red-2: #F64E60,
  red-3: #FF0000,
  red-4: #FFE5E5,

  purple-1: #8950FC,

  yellow-1: #FFA800,
  yellow-2: #E2AD64,
  yellow-3: #F9AB00,

  light-1: #F5F5F5,
  light-2: #717171,
  light-3: #FBFBFB,
  light-4: #DDD3EC,
  light-5: #F2F1EC,
  light-6: #E7E6E6,
  light-7: #C6C6D2,

  green-1: #EFF7F1,
  green-2: #63B06F,
  green-3: #34A853,

  info-1: #CDE9F6,
  info-2: #4780AA,
  warning-1: #F7F3D7,
  warning-2: #927238,
  error-1: #ECC8C5,
  error-2: #AB3331,
  success-1: #DEF2D7,
  success-2: #5B7052,
);

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}
