{% extends 'base.html' %}
{% load static %}
{% load price_filter %}

{% block title %}
ShadhinTrip: Tours And Packages, all in one.
{% endblock %}

{% block content %}
<section data-anim="fade" class="hero -type-10 -min">
    <div class="hero__bg">
        {% for background_image in background_images %}
      <img src="{{background_image.image.url}}" alt="image">
      {% endfor %}
        <!-- <img src="{% static 'assets/img/cta/shape.svg' %}" alt="image"> -->
    </div>
</section>

<section class="layout-pt-md js-pin-container layout-pb-md">
    <div class="container">
        <div class="row y-gap-30 justify-between">
            <h2 class="text-20">About Us</h2>
            <div class="col-lg-10">
                <div>
                    {% for site_setting in site_settings %}
                    <p class="mt-20">{{ site_setting.about_content|safe }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block additional_scripts %}
{% endblock additional_scripts %}
