{% extends 'base.html' %}
{% load static %}
{% load price_filter %}
{% block title %}
ShadhinTrip: Visa Booking
{% endblock %}
{% block content %}
<section data-anim="fade" class="hero -type-10 pt-0">
  <div class="hero__bg bg-accent-2"></div>
</section>
<section data-anim-wrap class="layout-pb-lg mt-header booking-summary">
  <div class="container">
    <form id="bookingForm" class="visa-form" method="post" action="{% url 'visa_booking_success' slug=visa_package.slug %}">
      {% csrf_token %}
      <div class="row">
        <div data-anim-child="fade" class="col-lg-8">
          <div class="bg-white rounded-12 shadow-shadhin py-30 px-30 md:py-20 md:px-20 mt-30">
            <h2>Applicant Details</h2>
            <div class="row y-gap-30 pt-30">
              <div class="row y-gap-30 contactForm">
                <div class="col-lg-6">
                  <div class="form-input">
                    <input type="text" required value="{{ user.first_name }}" name="first_name">
                    <label class="lh-1 text-16 text-light-1">First Name *</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-input">
                    <input type="text" required value="{{ user.last_name }}" name="last_name">
                    <label class="lh-1 text-16 text-light-1">Last Name *</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-input">
                    <input type="email" required value="{{ user.email }}" name="email">
                    <label class="lh-1 text-16 text-light-1">Email Address *</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-input">
                    <input type="text" required value="+880" name="phone_number">
                    <label class="lh-1 text-16 text-light-1">Phone Number *</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-input">
                    <input type="text" required name="nationality">
                    <label class="lh-1 text-16 text-light-1">Nationality *</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-input">
                    <input type="date" required name="date_of_birth">
                    <label class="lh-1 text-16 text-light-1">Date of Birth *</label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-input">
                    <textarea required name="address"></textarea>
                    <label class="lh-1 text-16 text-light-1">Address *</label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <p class="text-12">*Note: After payment completion, you will receive instructions for uploading additional documents for visa processing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-anim-child="fade delay-2" class="col-lg-4">
          <div class="d-flex justify-end js-pin-content">
            <div class="tourSingleSidebar">
              <div class="d-flex mt-30 mb-20">
                {% if visa_package.image%}
                  <img src="{{ visa_package.image.url }}" alt="image">
                {% else %}
                  <img src="{% static 'assets/img/tour/banner/1.png' %}" alt="image">
                {% endif %}
              </div>
              <h2 class="text-20 fw-500 text-center">{{ visa_package.title }}</h2>
              <div class="line mt-20 mb-20"></div>
              <p class="text-20 fw-500 pb-20">Package Summary</p>
              <div class="">
                <div class="d-flex items-center justify-between">
                  <div class="text-14">Country</div>
                  <div class="d-flex items-center">
                    <div class="flex-center ml-10 mr-10">
                      <div class="text-14 size-20">{{ visa_package.country }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="d-flex items-center justify-between">
                  <div class="text-14">Visa Type</div>
                  <div class="d-flex items-center">
                    <div class="flex-center ml-10 mr-10">
                      <div class="text-14 size-20">{{ visa_package.visa_type.name }}</div>
                    </div>
                  </div>
                </div>
              </div>


              {% if visa_package.valid_for %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Valid For</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_package.valid_for }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if visa_package.max_stay %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Max Stay</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_package.max_stay }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if visa_package.number_of_entries %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Number Of Entries</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_package.number_of_entries }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
              <div class="layout-pb-md">
                <div class="line mt-10"></div>
                <p class="text-20 fw-500 pb-20">Price Summary</p>
                <div class="">
                  <div class="d-flex items-center justify-between">
                    <div class="text-14">Visa Fee</div>
                    <div class="d-flex items-center">
                      <div class="flex-center ml-10 mr-10">
                        <div id="tourprice" class="text-14 size-20 js-count">{{ visa_package.visa_fee }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="d-flex items-center justify-between">
                    <div class="text-14">Processing Fee</div>
                    <div class="d-flex items-center">
                      <div class="flex-center ml-10 mr-10">
                        <div id="tourprice" class="text-14 size-20 js-count">{{ visa_package.processing_fee }} </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex items-center justify-between">
                    <div class="text-14">No. of Applicants</div>
                    <div class="d-flex items-center">
                      <a type="button" class="button size-30 border-1 rounded-full js-down">
                        <i class="icon-minus text-10"></i>
                      </a>
                      <div class="flex-center ml-10 mr-10">
                        <div id="numApplicants" class="text-14 size-20 js-count">1</div>
                        <input type="hidden" name="num_applicants" id="numApplicantsInput" value="1">
                      </div>
                      <a type="button" class="button size-30 border-1 rounded-full js-up">
                        <i class="icon-plus text-10"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="line mt-20 mb-20"></div>
                <div class="d-flex items-center justify-between">
                  <div class="text-18 fw-500">Total:</div>
                  <div id="totalPrice" class="text-18 fw-500">BDT </div>
                </div>
                <div class="pt-30">
                  <button type="submit" class="button -md -dark-1 bg-accent-1 text-white m-auto">
                    Complete Booking
                    <i class="icon-arrow-top-right text-16 ml-10"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock content %}

{% block additional_scripts %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let numApplicants = 1;
    const tourprice = parseFloat("{{ visa_package.total_fee }}"); // Get total fee from the server
  
    // Function to format the price
    function formatPrice(price) {
      if (Number.isInteger(price)) {
        return price.toLocaleString('en-BD');
      } else {
        return price.toLocaleString('en-BD', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
      }
    }
  
    // Function to update total price
    function updateTotalPrice() {
      const totalPrice = tourprice * numApplicants;
      document.getElementById('tourprice').textContent = `BDT ${formatPrice(tourprice)}`;
      document.getElementById('totalPrice').textContent = `BDT ${formatPrice(totalPrice)}`;
    }
  
    // Event listener for increasing number of applicants
    document.querySelector('.js-up').addEventListener('click', function() {
      numApplicants++;
      document.querySelector('#numApplicants').textContent = numApplicants;
      document.querySelector('#numApplicantsInput').value = numApplicants; // Update hidden input value
      updateTotalPrice();
    });
  
    // Event listener for decreasing number of applicants
    document.querySelector('.js-down').addEventListener('click', function() {
      if (numApplicants > 1) {
        numApplicants--;
        document.querySelector('#numApplicants').textContent = numApplicants;
        document.querySelector('#numApplicantsInput').value = numApplicants; // Update hidden input value
        updateTotalPrice();
      }
    });
  
    // Update total price initially
    updateTotalPrice();
  });
</script>

{% endblock additional_scripts %}
