{% extends 'base.html' %}
{% load static%}
{% load social_share %}
{% load price_filter %}
{% block title %}
ShadhinTrip: Tours And Packages, all in one.
{% endblock %}

{% block og_title %}
{{ visa_details.title }} - ShadhinTrip
{% endblock %}

{% block og_description %}
{{ visa_details.overview|truncatewords:30 }}
{% endblock %}


{% block og_image %}
{% if visa_details.image %}
    {{ request.build_absolute_uri(visa_details.image.url) }}
{% else %}
    {{ request.build_absolute_uri(static('assets/img/tour/card/1.png')) }}
{% endif %}
{% endblock %}


{% block content %}
<section data-anim="fade" class="hero -type-10 pt-0">
    <div class="hero__bg bg-accent-2"></div>
</section>

<div data-anim="fade" class="container">
    <div class="row justify-between pt-10 pb-20">
      <div class="col-auto">
        <div class="text-14">Home > Visa > {{ visa_details.title }}</div>
      </div>

    </div>
</div>

<section class="js-pin-container shadow-shadhin">
    <div class="container">
      <div class="row y-gap-30 justify-between visa-content">
        <div data-anim="slide-up delay-1" class="col-lg-8">
          <div class="">
            <h2 class="text-40 sm:text-30 lh-14">
                {{ visa_details.title }}
            </h2>
            <div class="row y-gap-20 justify-between pt-20">
              <div class="col-auto">
                <div class="row x-gap-20 y-gap-20 items-center">
                  <div class="col-auto">
                    <div class="d-flex items-center">
                      <i class="icon-pin text-16 mr-5"></i>
                      {{ visa_details.country }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="d-flex y-gap-10">
                  <i class="icon-share flex-center text-16 mr-10"></i>
                  {% post_to_facebook object_or_url "Share" %}
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-center pt-30">
            <div class="col-12">
              <div class="relative overflow-hidden js-section-slider" data-gap="10" data-slider-cols="xl-1 lg-1 md-1 sm-1 base-1" data-nav-prev="js-sliderMain-prev" data-nav-next="js-sliderMain-next" data-loop>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    {% if visa_details.image%}
                        <img src="{{ visa_details.image.url }}" alt="image" class="img-cover rounded-12">
                    {% else %}
                        <img src="{% static 'assets/img/tour/card/card.png' %}" alt="image" class="img-cover rounded-12">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if visa_details.overview %}
            <div>
                <h2 class="text-20 pt-30">Overview</h2>
                <p class="mt-20">{{ visa_details.overview|safe }}</p>
            </div>
          {% endif %}

          {% if visa_details.required_documents %}
            <div>
                <h2 class="text-20 mt-20">Documents Required</h2>
                <div class="tabs -underline-2 pt-30 js-tabs">
                    <div class="tabs__controls row x-gap-40 y-gap-10 lg:x-gap-20 js-tabs-controls">
                        {% for required_document in visa_details.required_documents.all %}
                        <div class="col-auto">
                            <button class="tabs__button fw-500 px-5 pb-5 lg:pb-0 js-tabs-button{% if forloop.first %} is-tab-el-active{% endif %}" data-tab-target=".tab-item-{{ required_document.id }}">{{ required_document.document_for }}</button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="tabs__content pt-20 js-tabs-content">
                        {% for required_document in visa_details.required_documents.all %}
                        <div class="tabs__pane tab-item-{{ required_document.id }}{% if forloop.first %} is-tab-el-active{% endif %}">
                            <p>{{ required_document.description|safe }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <h2 class="text-30 pt-30">Frequently Asked Questions</h2>
            <div class="accordion -simple row y-gap-20 mt-30 mb-30 js-accordion">
                <div class="col-12">
                    <div class="accordion__item px-20 py-15 border-1 rounded-12">
                    <div class="accordion__button d-flex items-center justify-between">
                        <div class="button text-16 text-dark-1">What is a visa, and why do I need one?</div>

                        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                        <i class="icon-plus text-13"></i>
                        <i class="icon-minus text-13"></i>
                        </div>
                    </div>

                    <div class="accordion__content">
                        <div class="pt-20">
                        <p>A visa is an official document that allows you to enter, stay in, and leave a foreign country. It is typically stamped or glued into your passport. Whether you need a visa depends on your nationality and the country you wish to visit. A visa ensures that you meet the entry requirements for your destination.</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="accordion__item px-20 py-15 border-1 rounded-12">
                    <div class="accordion__button d-flex items-center justify-between">
                        <div class="button text-16 text-dark-1">How can I apply for a visa through ShadhinTrip?</div>

                        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                        <i class="icon-plus text-13"></i>
                        <i class="icon-minus text-13"></i>
                        </div>
                    </div>

                    <div class="accordion__content">
                        <div class="pt-20">
                        <p>You can apply for a visa through ShadhinTrip by visiting our website and selecting the visa type you need. Our platform will guide you through the application process, including document submission and payment. Our team is also available to assist you with any questions you might have during the process.</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="accordion__item px-20 py-15 border-1 rounded-12">
                    <div class="accordion__button d-flex items-center justify-between">
                        <div class="button text-16 text-dark-1">Can I get a refund if my visa application is denied?</div>

                        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                        <i class="icon-plus text-13"></i>
                        <i class="icon-minus text-13"></i>
                        </div>
                    </div>

                    <div class="accordion__content">
                        <div class="pt-20">
                        <p>Unfortunately, visa fees and the ShadhinTrip processing fee are non-refundable, as they cover the administrative costs associated with processing your application.</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="accordion__item px-20 py-15 border-1 rounded-12">
                    <div class="accordion__button d-flex items-center justify-between">
                        <div class="button text-16 text-dark-1">How long does it take to process a visa?</div>

                        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                        <i class="icon-plus text-13"></i>
                        <i class="icon-minus text-13"></i>
                        </div>
                    </div>

                    <div class="accordion__content">
                        <div class="pt-20">
                        <p>The processing time for a visa depends on the type of visa and the destination country. Some visas are processed within a few days, while others may take several weeks. We recommend applying well in advance of your planned travel date to avoid any delays.</p>
                        </div>
                    </div>
                    </div>
                </div>

                

                <div class="col-12">
                    <div class="accordion__item px-20 py-15 border-1 rounded-12">
                    <div class="accordion__button d-flex items-center justify-between">
                        <div class="button text-16 text-dark-1">Do I need a visa if I am just transiting through a country?</div>

                        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                        <i class="icon-plus text-13"></i>
                        <i class="icon-minus text-13"></i>
                        </div>
                    </div>

                    <div class="accordion__content">
                        <div class="pt-20">
                        <p>Some countries require a transit visa if you are passing through their territory on the way to another destination. It is essential to verify the transit visa requirements for all the countries on your travel route.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-end js-pin-content">
                <div class="tourSingleSidebar">
                    <div class="d-flex items-center">
                        <div>
                            {% if visa_details.image%}
                                <img src="{{ visa_details.country.image.url }}" alt="logo icon">
                            {% else %}
                                <img src="{% static 'assets/img/tour/card/card.png' %}" alt="logo icon">
                            {% endif %}
                        </div>
                        <div class="text-20 fw-500 ml-10">{{ visa_details.country }}</div>
                    </div>
                    <div class="line mt-10"></div>
                    <p class="text-20 fw-500 mb-20">Visa Details</p>
                    <div class="">
                      <div class="d-flex items-center justify-between">
                          <div class="text-14">Visa Type</div>
                          <div class="d-flex items-center">
                              <div class="flex-center ml-10 mr-10">
                                  <div class="text-14 size-20">{{ visa_details.visa_type.name }}</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% if visa_details.valid_for %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Valid For</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_details.valid_for }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if visa_details.max_stay %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Max Stay</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_details.max_stay }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if visa_details.number_of_entries %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Number Of Entries</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_details.number_of_entries }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                  {% if visa_details.our_processing_time %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Application Processing Time</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_details.our_processing_time }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if visa_details.visa_processing_time %}
                  <div class="mt-10">
                    <div class="d-flex items-center justify-between">
                        <div class="text-14">Estimated Visa Approval Time</div>
                        <div class="d-flex items-center">
                            <div class="flex-center ml-10 mr-10">
                              
                                <div class="text-14 size-20">{{ visa_details.visa_processing_time }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="line mt-10"></div>
                <p class="text-20 fw-500 pb-20">Price Summary</p>
                    <div class="pb-20">
                        <div class="d-flex items-center justify-between">
                            <div class="text-14">Visa Fee</div>
                            <div class="d-flex items-center js-counter">
                                <div class="flex-center ml-10 mr-10">
                                    <div id="visaFee" class="text-14 size-20 js-count">BDT {{ visa_details.visa_fee|format_price }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb-20">
                        <div class="d-flex items-center justify-between">
                            <div class="text-14">Processing Fee</div>
                            <div class="d-flex items-center js-counter">
                                <div class="flex-center ml-10 mr-10">
                                    <div id="processingFee" class="text-14 size-20 js-count">BDT {{ visa_details.processing_fee|format_price }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <div class="d-flex items-center justify-between">
                            <div class="text-14">No. of People</div>
                            <div class="d-flex items-center js-counter">
                                <button class="button size-30 border-1 rounded-full js-down">
                                    <i class="icon-minus text-10"></i>
                                </button>
                                <div class="flex-center ml-10 mr-10">
                                    <div id="numTravelers" class="text-14 size-20 js-count">1</div>
                                </div>
                                <button class="button size-30 border-1 rounded-full js-up">
                                    <i class="icon-plus text-10"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="line mt-20 mb-20"></div>
                    <div class="d-flex items-center justify-between">
                        <div class="text-18 fw-500">Total:</div>
                        <div id="totalPrice" class="text-18 fw-500">BDT {{ visa_details.total_fee }}</div>
                    </div>
                    
                    <a href="{% url 'get_visa_booking_summary' slug=visa_details.slug%}" class="button -md -dark-1 col-12 bg-accent-1 text-white mt-20">
                        Apply Now
                        <i class="icon-arrow-top-right ml-10"></i>
                    </a>
                </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <div class="py-40">
    {% include 'includes/Keep-on-visa-Planning.html' with tours=tours %}
  </div>
  
{% endblock content%}

{% block additional_scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
      let numTravelers = 1;
      const visaPrice = parseFloat("{{ visa_details.visa_fee }}");
      const processingFeePerPerson = parseFloat("{{ visa_details.processing_fee }}");

      function updateTotalPrice() {
          const visaFee = visaPrice * numTravelers;
          const processingFee = processingFeePerPerson * numTravelers;
          const totalPrice = visaFee + processingFee;
          document.getElementById('visaFee').textContent = `BDT ${visaFee.toFixed(2)}`;
          document.getElementById('processingFee').textContent = `BDT ${processingFee.toFixed(2)}`;
          document.getElementById('totalPrice').textContent = `BDT ${totalPrice.toFixed(2)}`;
      }

      document.querySelector('.js-up').addEventListener('click', function() {
          numTravelers++;
          document.querySelector('#numTravelers').textContent = numTravelers;
          updateTotalPrice();
      });

      document.querySelector('.js-down').addEventListener('click', function() {
          if (numTravelers > 1) {
              numTravelers--;
              document.querySelector('#numTravelers').textContent = numTravelers;
              updateTotalPrice();
          }
      });

      updateTotalPrice();
  });
</script>
{% endblock additional_scripts %}