{% load static %}
<section data-anim="fade" class="hero -type-3">
    <div class="hero__bg">
      <img src="{{ banner.image.url }}" alt="image">
    </div>
  
    <div class="container">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-10">
          <div class="hero__content layout-pb-md layout-pt-xl">
              {% include 'includes/banner-search.html' with tours=tours %}
          </div>
        </div>
      </div>
    </div>
</section>


{% block additional_scripts %}

{% endblock additional_scripts %}