{% load static %}
<section data-anim="fade" class="hero -type-3">
    <div class="hero__bg">
      <img src="{{ background.image.url }}" alt="image">
    </div>
  
    <div class="container">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-10 layout-pb-md">
          <div class="hero__content">
            <h1 class="hero__title">
              Simplify Your Visa Process with ShadhinTrip!
            </h1>
              {% include 'includes/banner-search.html' with tours=tours %}
          </div>
        </div>
      </div>
    </div>
</section>


{% block additional_scripts %}

{% endblock additional_scripts %}