.sidebar.-type-1 {
  position: relative;
  border: 1px solid var(--border, #E7E6E6);
  z-index: 5;

  .sidebar {
    &__header {
      border-radius: 12px 12px 0 0;
      padding: 30px;
    }
    
    &__content {
      padding: 30px;
      padding-top: 20px;

      > * + * {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #E7E6E6;
      }
    }

    &__item {
    }
  }
}
