.sidebar.-dashboard {
  margin-top: 60px;
  padding: 0 30px;

  .sidebar {
    &__item {
      a {
        display: flex;
        align-items: center;
        border-radius: 12px;
        height: 55px;
        padding: 0 20px;
        transition: .2s;

        i {
          display: flex;
        }

        &:hover {
          background-color: rgba(white, 0.15);
          color: white;
        }
      }
      
      &.-is-active a {
        background-color: rgba(white, 0.15);
      }
    }
  }
}


.dashboard {
  display: flex;
  width: 100%;
  
  &__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    max-width: calc(100vw - 80px);
    color: white;
    background-color: var(--color-dark-1);
    z-index: 100;
    transform: translateX(-100%);
    transition: .2s;

    &_header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88px;
      border-bottom: 1px solid rgba(white, 0.2);

      &_search {
        display: flex;
        align-items: center;

        i {
          font-size: 18px;
          margin-right: 10px;
        }

        input {
          width: 230px;
        }
      }
    }

    &_content {
      padding: 60px 30px;
    }
  }
  
  &__content {
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    transition: .2s;

    @include media-below(md) {
      padding-left: 0;
    }
    
    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #FFF;
      height: 88px;
      padding-left: 75px;
      padding-right: 30px;

      @include media-below(md) {
        height: 72px;
        padding: 0 24px;
      }

      > *:nth-child(1) {
        display: flex;
        align-items: center;
      }

      > *:nth-child(2) {
        display: flex;
        align-items: center;

        > * + * {
          margin-left: 30px;
        }
      }
    }

    &_content {
      padding: 0 75px;
      padding-top: 60px;
      padding-bottom: 30px;

      @include media-below(md) {
        padding: 0 24px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }

  &.-is-sidebar-visible {
    .dashboard__sidebar {
      transform: none;
    }

    .dashboard__content {
      overflow-x: hidden;
      padding-left: 300px;
      
      @include media-below(md) {
        padding-left: 0;
        transform: translateX(300px);
      }
    }
  }
}
