.pagination {
  display: flex;
  align-items: center;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--border, #E7E6E6);
  }

  &__count {
    display: flex;
    align-items: center;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      font-weight: 500;

      &.is-active {
        color: white !important;
        background-color: var(--color-accent-1) !important;
      }

      &:hover {
        background-color: #F5F5F5;
        color: var(--color-dark-1);
      }

      + * {
        margin-left: 15px;
      }
    }
  }

  &__button {}
}

.pagination.-type-1 {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 10px;
  }

  .pagination {
    &__item {
      width: 6px;
      height: 6px;
      border-radius: 20px;
      background-color: var(--color-dark-1);
      transition: .3s;

      &.is-active {
        width: 18px;
      }
    }
  }
}

.navAbsolute {
  position: absolute;
  top: 50%;
  left: -70px;
  right: -70px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--border, #E7E6E6);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
  }

  &.-type-2 {
    left: 60px;
    right: 60px;

    @include media-below(md) {
      left: 30px;
      right: 30px;
    }
  }
}

.navRegular {
  display: flex;
  align-items: center;
  z-index: 1;

  > * + * {
    margin-left: 10px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    border: 1px solid var(--border, #E7E6E6);
  }
}
