.featureCard.-type-4 {
  position: relative;
  height: 100%;
  z-index: 0;
  
  .featureCard {
    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }

      &::after {
        content: "";
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 12px;
        background: linear-gradient(180deg, rgba(5, 7, 60, 0.00) 0%, #05073C 100%);
        opacity: 0.5;
        z-index: 1;
      }
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 30px;
      z-index: 1;

      @include media-below(md) {
        padding: 22px;
      }
    }
  }
}
