.featureCard.-type-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #FAF9FD;
  border-radius: 12px;
  text-align: center;
  padding: 30px;
  z-index: 0;
  transition: .2s;

  > * {
    transition: .2s;
  }
  
  .featureCard {
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 100%;
      width: 80px;
      height: 80px;
    }
  }

  &.-hover-accent-1 {
    background-color: white;

    .featureCard__icon {
      background-color: #FEF7F4;
    }

    &:hover {
      background-color: var(--color-accent-1);
  
      > * {
        color: white !important;
      }
    }
  }

  &.-hover-accent-2:hover {
    background-color: var(--color-accent-2);

    > * {
      color: white !important;
    }
  }
}
