.featureCard.-type-9 {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--border, #E7E6E6);
  background-color: white;
  z-index: 0;
  transition: 0.2s;

  .featureCard {
    &__image {
      img {
        border-radius: 100%;
        width: 110px;
        height: 110px;
        object-fit: cover;
      }
    }

    &__content {}
  }

  &:hover {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
  }
}
