{% load static %}
<section data-anim="fade" class="hero -type-3">
  
  <div class="hero__bg">
    {% if banner.image%}
      <img src="{{ banner.image.url }}" alt="image">
      {% else %}
      <img src="{% static 'assets/img/tour/banner/banner.png' %}" alt="image">
    {% endif %}
  </div>
  
    <div class="container">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-10">
          <div class="hero__content layout-pb-md layout-pt-md">
            <h1 class="hero__title text-white">
              Discover Your Next Adventure with ShadhinTrip!
            </h1>
            {% include 'includes/banner-search.html' with tours=tours %}
          </div>
        </div>
      </div>
    </div>
</section>

{% block additional_scripts %}

<script src="https://www.youtube.com/iframe_api"></script>


{% endblock additional_scripts %}