{% load static %}
<section class="layout-pt-xl layout-pb-xl">
    <div data-anim-wrap class="container">
      <div data-anim-child="slide-up" class="row justify-between items-end y-gap-10">
        <div class="col-auto">
          <h2 class="text-30 md:text-24">Day Cruises</h2>
        </div>

        <div class="col-auto">

          <button class="buttonArrow d-flex items-center ">
            <span>See all</span>
            <i class="icon-arrow-top-right text-16 ml-10"></i>
          </button>

        </div>
      </div>

      <div data-anim-child="slide-up delay-2" class="relative pt-40 sm:pt-20">
        <div class="overflow-hidden js-section-slider" data-gap="30" data-slider-cols="xl-4 lg-3 md-2 sm-1 base-1" data-nav-prev="js-slider1-prev" data-nav-next="js-slider1-next">
          <div class="swiper-wrapper">

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="{% static 'assets/img/hero/1/nepal.jpeg' %}" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    Paris, France
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>Centipede Tour - Guided Arizona Desert Tour by ATV</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$189,25</span></div>
                  </div>
                </div>
              </a>

            </div>

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="{% static 'assets/img/hero/1/nepal.jpeg' %}" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    New York, USA
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>Molokini and Turtle Town Snorkeling Adventure Aboard</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$225,00</span></div>
                  </div>
                </div>
              </a>

            </div>

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="{% static 'assets/img/hero/1/nepal.jpeg' %}" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    London, UK
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>Westminster Walking Tour &amp; Westminster Abbey Entry</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$943,00</span></div>
                  </div>
                </div>
              </a>

            </div>

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="{% static 'assets/img/hero/1/nepal.jpeg' %}" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    New York, USA
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>All Inclusive Ultimate Circle Island Day Tour with Lunch</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$771,00</span></div>
                  </div>
                </div>
              </a>

            </div>

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="{% static 'assets/img/hero/1/nepal.jpeg' %}" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    Paris, France
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>Centipede Tour - Guided Arizona Desert Tour by ATV</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$189,25</span></div>
                  </div>
                </div>
              </a>

            </div>

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="img/tourCards/1/6.png" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    New York, USA
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>Molokini and Turtle Town Snorkeling Adventure Aboard</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$225,00</span></div>
                  </div>
                </div>
              </a>

            </div>

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="img/tourCards/1/7.png" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    London, UK
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>Westminster Walking Tour &amp; Westminster Abbey Entry</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$943,00</span></div>
                  </div>
                </div>
              </a>

            </div>

            <div class="swiper-slide">

              <a href="" class="tourCard -type-1 d-block bg-white">
                <div class="tourCard__header">
                  <div class="tourCard__image ratio ratio-28:20">
                    <img src="img/tourCards/1/8.png" alt="image" class="img-ratio rounded-12">
                  </div>

                  <button class="tourCard__favorite">
                    <i class="icon-heart"></i>
                  </button>
                </div>

                <div class="tourCard__content pt-10">
                  <div class="tourCard__location d-flex items-center text-13 text-light-2">
                    <i class="icon-pin d-flex text-16 text-light-2 mr-5"></i>
                    New York, USA
                  </div>

                  <h3 class="tourCard__title text-16 fw-500 mt-5">
                    <span>All Inclusive Ultimate Circle Island Day Tour with Lunch</span>
                  </h3>

                  <div class="tourCard__rating mt-5">
                    <div class="d-flex items-center">
                      <div class="d-flex x-gap-5 pr-10">

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                        <i class="icon-star text-10 text-yellow-2"></i>

                      </div>

                      <span class="text-dark-1 text-13">4.8 (269)</span>
                    </div>
                  </div>

                  <div class="d-flex justify-between items-center border-1-top text-13 text-dark-1 pt-10 mt-10">
                    <div class="d-flex items-center">
                      <i class="icon-clock text-16 mr-5"></i>
                      4 days
                    </div>

                    <div>From <span class="text-16 fw-500">$771,00</span></div>
                  </div>
                </div>
              </a>

            </div>

          </div>
        </div>

        <div class="navAbsolute">
          <button class="navAbsolute__button bg-white js-slider1-prev">
            <i class="icon-arrow-left text-14"></i>
          </button>

          <button class="navAbsolute__button bg-white js-slider1-next">
            <i class="icon-arrow-right text-14"></i>
          </button>
        </div>
      </div>
    </div>
  </section>