{% load static %}
<footer class="footer -type-1 -light bg-accent-2">
  <div class="footer__main">
    <div class="container">
      <div class="footer__info">
        <div class="row y-gap-20 justify-between">
          <div class="col-auto">
            <div class="row y-gap-20 items-center">
              <div class="col-auto">
                <i class="icon-headphone text-50 text-white"></i>
              </div>

              <div class="col-auto">
                <div class="text-20 fw-500 text-white text-white">
                  Reach Us at 
                  <span class="text-white">
                    {% for contact in contact_info %}
                      {% if contact.phone %}
                        {{ contact.phone }}
                      {% endif %}
                    {% endfor %}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-auto">
            <div class="footerSocials">
              <div class="footerSocials__title text-white">
                Follow Us
              </div>

              <div class="footerSocials__icons text-white">
                {% for link in social_links %}
                  <a href="{{ link.url }}" class="{{ link.icon_class }}" target="_blank"></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="border-white-15-top">
      <div class="container">
        <div class="footer__content">
          <div class="row y-gap-40 justify-between">
            <div class="col-lg-4 col-md-6">
              <h4 class="text-20 fw-500 text-white">Contact</h4>

              <div class="y-gap-10 mt-20 text-white">
                    {% for contact in contact_info %}
                      {% if contact.phone %}
                      <p class="d-block text-white">&#127968;  {{ contact.address }}</p>
                      {% endif %}
                      {% if contact.phone %}
                      <p class="d-block text-white">&#128231;  {{ contact.email }}</p>
                      {% endif %}
                      {% if contact.phone %}
                      <p class="d-block text-white">&#128224;  {{ contact.phone }}</p>
                      {% endif %}
                    {% endfor %}
              </div>
            </div>

            <div class="col-lg-auto col-6">
              <h4 class="text-20 fw-500 text-white">Company</h4>

              <div class="y-gap-10 mt-20">
                <a class="d-block fw-500 text-white" href="{% url 'about-us' %}">
                  About Us
                </a>
                <a class="d-block fw-500 text-white" href="{% url 'privacy' %}">
                  Privacy Policy
                </a>
  
                <a class="d-block fw-500 text-white" href="{% url 'terms' %}">
                  Terms of Service
                </a>
  
                <a class="d-block fw-500 text-white" href="{% url 'cancellation_policy' %}">
                  Cancellation Policy
                </a>
  
                <a class="d-block fw-500 text-white" href="{% url 'refund_policy' %}">
                  Refund Policy
                </a>

              </div>
            </div>

            <div class="col-lg-auto col-6">
              <h4 class="text-20 fw-500 text-white">Our Services</h4>

              <div class="y-gap-10 mt-20">

                <a class="d-block fw-500 text-white" href="{% url 'tour' %}">
                  Tour Packages
                </a>
  
                <a class="d-block fw-500 text-white" href="{% url 'visa' %}">
                  Visa Services
                </a>
  
                <a class="d-block fw-500 text-white" href="#">
                  Flight Booking
                </a>
  
                <a class="d-block fw-500 text-white" href="#">
                  Hotel Reservation
                </a>

              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <h4 class="text-20 fw-500 text-white">Stay Informed</h4>
              <p class="text-white mt-20">Sign up for our newsletter to receive the latest updates, exclusive offers, and travel tips.</p>

              <div class="footer__newsletter">
                <form method="post" action="{% url 'subscribe' %}">
                  {% csrf_token %}
                  <input type="email" name="email" placeholder="Your email address">
                  <button type="submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="border-white-15-top">
    <div class="container">
      <div class="footer__bottom">
        <div class="row y-gap-5 justify-between items-center">
          <div class="col-auto text-white">
            <div>© Copyright ShadhinTrip 2024</div>
          </div>

          <div class="col-auto">
            <div class="footer__images d-flex items-center x-gap-10">
              <img src="{% static 'assets/img/footer/cards/1.png' %}" alt="image">
              <img src="{% static 'assets/img/footer/cards/2.png' %}" alt="image">
              <img src="{% static 'assets/img/footer/cards/3.png' %}" alt="image">
              <img src="{% static 'assets/img/footer/cards/4.png' %}" alt="image">
              <img src="{% static 'assets/img/footer/cards/5.png' %}" alt="image">
              <img src="{% static 'assets/img/footer/cards/6.png' %}" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

