{% load static %}

<section class="layout-pt-md">
    <div data-anim-wrap class="container">
      <div data-anim-child="slide-up" class="row">
        <div class="col-auto">
          <h2 class="text-30 md:text-24">Why choose ShadhinTrip</h2>
        </div>
      </div>

      <div data-anim-child="slide-up delay-2" class="row md:x-gap-20 pt-40 sm:pt-20 mobile-css-slider -w-280">

        <div class="col-lg-3 col-sm-6">
          <div class="featureIcon -type-1 pr-40 md:pr-0">
            <div class="featureIcon__icon">
              <img src="{% static 'assets/img/icons/1/ticket.svg' %}" alt="icon">
            </div>

            <h3 class="featureIcon__title text-18 fw-500 mt-30">Ultimate flexibility</h3>
            <p class="featureIcon__text mt-10">You&#39;re in control, with free cancellation and payment options to satisfy any plan or budget.</p>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="featureIcon -type-1 pr-40 md:pr-0">
            <div class="featureIcon__icon">
              <img src="{% static 'assets/img/icons/1/hot-air-balloon.svg' %}" alt="icon">
            </div>

            <h3 class="featureIcon__title text-18 fw-500 mt-30">Memorable experiences</h3>
            <p class="featureIcon__text mt-10">Browse and book tours and activities so incredible, you&#39;ll want to tell your friends.</p>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="featureIcon -type-1 pr-40 md:pr-0">
            <div class="featureIcon__icon">
              <img src="{% static 'assets/img/icons/1/diamond.svg' %}" alt="icon">
            </div>

            <h3 class="featureIcon__title text-18 fw-500 mt-30">Quality at our core</h3>
            <p class="featureIcon__text mt-10">High quality standards. Millions of reviews. A tourz company.</p>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="featureIcon -type-1 pr-40 md:pr-0">
            <div class="featureIcon__icon">
              <img src="{% static 'assets/img/icons/1/medal.svg' %}" alt="icon">
            </div>

            <h3 class="featureIcon__title text-18 fw-500 mt-30">Award-winning support</h3>
            <p class="featureIcon__text mt-10">New price? New plan? No problem. We&#39;re here to help, 24/7.</p>
          </div>
        </div>

      </div>
    </div>
  </section>