{% load static %}
<section data-anim="fade" class="hero -type-10">
    <div class="hero__bg">
      {% for background_image in background_images %}
      {% if background_image.image.url %}
        <img src="{{ background_image.image.url }}" alt="image">
      {% else %}
        <img src="{% static 'assets/img/tour/card/1.png' %}" alt="image">
      {% endif %}
      {% endfor %}
    </div>
  
    <div class="container">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-10 layout-pb-xl">
          <div class="hero__content text-center">
            <h1>
              Your guide to everywhere
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>