<div class="d-flex justify-center flex-column mt-60">

  <div class="pagination justify-center">
  <button class="pagination__button button -accent-1 mr-15 -prev">
      <i class="icon-arrow-left text-15"></i>
  </button>

  <div class="pagination__count">
      <a href="#">1</a>
      <a href="#" class="is-active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <div>...</div>
      <a href="#">20</a>
  </div>

  <button class="pagination__button button -accent-1 ml-15 -next">
      <i class="icon-arrow-right text-15"></i>
  </button>
  </div>

  <div class="text-14 text-center mt-20">Showing results 1-30 of 1,415</div>

</div>