<div class="sidebar__item">
  <h4 class="text-18 fw-500 mb-20">Recent Posts</h4>

  <div class="d-flex y-gap-20 flex-column">

      <a href="#" class="d-flex align-center">
      <div class="size-70 overflow-hidden rounded-12">
          <img src="img/blogCards/1/1.png" alt="image" class="img-cover">
      </div>

      <div class="ml-20">
          <h5 class="text-15 lh-14 fw-500">10 of the Best Solo Travel Destinations for Women</h5>
          <div class="text-14 lh-1 mt-10">April 06 2023</div>
      </div>
      </a>

      <a href="#" class="d-flex align-center">
      <div class="size-70 overflow-hidden rounded-12">
          <img src="img/blogCards/1/1.png" alt="image" class="img-cover">
      </div>

      <div class="ml-20">
          <h5 class="text-15 lh-14 fw-500">10 of the Best Solo Travel Destinations for Women</h5>
          <div class="text-14 lh-1 mt-10">April 06 2023</div>
      </div>
      </a>

      <a href="#" class="d-flex align-center">
      <div class="size-70 overflow-hidden rounded-12">
          <img src="img/blogCards/1/1.png" alt="image" class="img-cover">
      </div>

      <div class="ml-20">
          <h5 class="text-15 lh-14 fw-500">10 of the Best Solo Travel Destinations for Women</h5>
          <div class="text-14 lh-1 mt-10">April 06 2023</div>
      </div>
      </a>

  </div>
  </div>