.hero.-type-5 {
  position: relative;
  padding-top: 236px;
  padding-bottom: 202px;
  z-index: 5;

  @include media-below(lg) {
    padding-top: 140px;
    padding-bottom: 380px;
  }
  
  @include media-below(sm) {
    padding-top: 100px;
    padding-bottom: 280px;
  }

  .hero {
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 200px;
      bottom: 0;
      z-index: -1;
      
      @include media-below(lg) {
        bottom: 250px;
        right: 0;
      }
      
      @include media-below(sm) {
        bottom: 120px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 40vw;
      z-index: 1;
      
      @include media-below(lg) {
        top: unset;
        width: 100%;
        height: 40vh;
      }
      
      @include media-below(sm) {
        height: 250px;
      }

      > *:nth-child(1) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 100%;

        @include media-below(lg) {
          display: none;
        }
      }

      > *:nth-child(2) {
        border-radius: 0 0 120px 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        @include media-below(lg) {
          border-radius: 0 0 120px 120px;
        }
      }

      > *:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        display: none;

        @include media-below(lg) {
          display: block;
        }
      }
    }

    &__content {
      position: relative;
      z-index: 2;
    }

    &__title {
      font-size: 60px;
      line-height: 1.2;
      font-weight: 600;
      
      @include media-below(md) {
        font-size: 50px;
      }
      
      @include media-below(sm) {
        font-size: 40px;
      }
    }

    &__filter {
      > * {
        width: 100%;
      }
    }
  }
}
