.hero.-type-6 {
  position: relative;
  padding-top: 267px;
  padding-bottom: 140px;
  z-index: 5;
  
  @include media-below(lg) {
    padding-top: 200px;
    padding-bottom: 120px;
    background-color: color-opac(accent-1, .05);
  }

  @include media-below(md) {
    padding-top: 140px;
  }

  @include media-below(sm) {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  .hero {
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      
      @include media-below(lg) {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__title {
      font-size: 60px;
      line-height: 1.2;
      font-weight: 600;
      
      @include media-below(md) {
        font-size: 50px;
      }
      
      @include media-below(sm) {
        font-size: 40px;
      }
    }
  }
}
