.hero.-type-7 {
  position: relative;
  z-index: 20;

  .hero {
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__shape {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      background-color: #FEF7F4;
      border-radius: 80px 80px 0 0;
      z-index: 5;
    }

    &__content {
      padding-top: 300px;
      padding-bottom: 440px;

      @include media-below(xl) {
        padding-top: 220px;
        padding-bottom: 240px;
      }
    
      @include media-below(md) {
        padding-top: 120px;
        padding-bottom: 400px;
      }
    }

    &__subtitle {}

    &__title {
      font-size: 70px;
      font-weight: 600;
      line-height: 1.2;
      
      @include media-below(lg) {
        font-size: 60px;
      }
      
      @include media-below(md) {
        font-size: 50px;
      }
      
      @include media-below(sm) {
        font-size: 36px;
      }
    }

    &__filter {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 850px;
      max-width: calc(100% - 40px);
      z-index: 10;

      @include media-below(md) {
        max-width: unset;
        width: auto;
        left: 24px;
        right: 24px;
        transform: none;
      }
    }

    &__slider {
      height: 100%;

      .swiper-wrapper {
        height: 100%;
      }

      .swiper-slide {
        height: 100%;
      }
    }

    &__nav {
      position: absolute;
      top: 50%;
      left: 60px;
      right: 60px;
      justify-content: space-between;
      transform: translateY(-50%);
      z-index: 10;
    }
  }
}
