{% load static %}
<section data-anim="fade" class="hero -type-10">
    <div class="hero__bg">
      {% for background_image in background_images %}
      <img src="{{ background_image.image.url }}" alt="image">
      {% endfor %}
      <!-- <img src="{% static 'assets/img/cta/shape.svg' %}" alt="image"> -->
    </div>
  
    <div class="container">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-10 layout-pb-xl">
          <div class="hero__content text-center">
            <h1>
              Your guide to everywhere
            </h1>
  
            <p class="text-white">
              Find inspiration, guides, and stories for wherever you're going. Select a destination.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>