.nopage {
  padding-top: 138px;
  padding-bottom: 120px;

  @include media-below(md) {
    padding-top: 80px;
    padding-bottom: 80ex;
  }

  @include media-below(sm) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  &__content {
    h1 {
      font-size: 200px;
      font-weight: 700;
      line-height: 1.2;

      @include media-below(md) {
        font-size: 100px;
      }
    }
  }
}
