.hero.-type-9 {
  position: relative;
  z-index: 5;

  .container {
    position: relative;
  }

  .hero {
    &__bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      padding: 30px;
      padding-bottom: 0;

      @include media-below(lg) {
        padding: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        
        @include media-below(lg) {
          border-radius: 0;
        }
      }
    }

    &__content {
      padding-top: 272px;
      padding-bottom: 272px;

      @include media-below(lg) {
        padding-top: 220px;
        padding-bottom: 220px;
      }
    
      @include media-below(md) {
        padding-top: 160px;
        padding-bottom: 100px;
      }
    
      @include media-below(sm) {
        padding-top: 100px;
        padding-bottom: 40px;
      }
    }

    &__image {
      padding-top: 40px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__title {
      font-size: 70px;
      font-weight: 600;
      line-height: 1.2;
      
      @include media-below(lg) {
        font-size: 60px;
      }
      
      @include media-below(md) {
        font-size: 50px;
      }
      
      @include media-below(sm) {
        font-size: 36px;
      }
    }

    &__pagination {
      color: white;
      position: absolute;
      bottom: 40px;
      left: 15px;
      z-index: 1;

      @include media-below(md) {
        display: none;
      }

      .pagination__item {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 187.5%;
        
        &::after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 136px;
          height: 1px;
          margin-left: 24px;
          background-color: white;
          margin-bottom: 4px;
          transition: 0.2s;
          transform-origin: left;
          width: 0;
        }

        + * {
          margin-left: 24px;
        }

        &.is-active {
          &::after {
            width: 136px;
          }
        }
      }
    }
  }
}
