.header.-type-10 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &.-is-sticky {
    background-color: rgb(19, 19, 19);
  }

  .header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 88px;
      padding: 0 60px;
      
      @include media-below(md) {
        height: 57px;
        padding: 0 24px;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
    }
    
    &__right {
      display: flex;
      align-items: center;

      @include media-below(md) {
        display: none;
      }
    }

    &__search {
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        margin-right: 10px;
      }

      input {
        width: 230px;
      }
    }

    &__menuBtn {
      display: flex;

      i {
        font-size: 20px;
      }
    }
  }
}
