.header.-type-3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: .2s;

  &.-is-sticky {
    background-color: white;
  }

  .header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 88px;
      
      @include media-below(md) {
        height: 57px;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
    }
    
    &__right {
      display: flex;
      align-items: center;

      @include media-below(md) {
        display: none;
      }
    }

    &__search {
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        margin-right: 10px;
      }

      input {
        width: 230px;
      }
    }

    &__menuBtn {
      display: flex;

      i {
        font-size: 20px;
      }
    }
  }

  .desktopNav > * {
    transition: 0.2s;
    &:hover { background-color: #F1ECF2; }

    a:hover {
      color: var(--color-dark-1);
    }
  }

  &.-page-5 {
    .header__right {
      @include media-below(lg) {
        display: none;
      }
    }

    .headerMobile__left {
      @include media-below(lg) {
        display: flex !important;
      }
    }

    .headerMobile__right {
      @include media-below(lg) {
        display: flex !important;
      }
    }

    .desktopNav > * {
      transition: 0.2s;
      &:hover { background-color: #FFFFFF; }
  
      a:hover {
        color: var(--color-dark-1);
      }
    }
  }
}

.header .desktopNav {
  display: flex;
  align-items: center;

  > * {
    padding: 8px 20px;
  }
  
  &__item {
    position: relative;
    
    border-radius: 100px;
    
    > a {
      display: flex;
      align-items: center;

      i {
        margin-left: 5px;
      }
    }

    &:hover {
      > *:last-child {
        opacity: 1 !important;
        pointer-events: auto !important;
      }
    }
  }

  .desktopNavSubnav {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 14px;
    opacity: 0;
    pointer-events: none;
    transition: .2s;

    &__content {
      border-radius: 12px;
      background-color: white;
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
      border: 1px solid var(--border, #E7E6E6);
      min-width: 260px;
      padding: 20px 40px;

      > * + * {
        padding-top: 12px;
      }
    }

    &__item {
      position: relative;

      > .desktopNavSubnav {
        top: 0;
        left: 100%;
      }

      &:hover {
        > .desktopNavSubnav {
          opacity: 1 !important;
          pointer-events: auto !important;
        }
      }
    }
  }

  &.-light {
    > * > a {
      color: white;
    }
  }

  > *:hover {
    // background-color: #F1ECF2;
    background-color: rgba(white, 0.1);
  }
  
  &.-hover-dark {
    > *:hover {
      background-color: rgba(white, 0.1);
    }
  }
}
