.header.-type-7 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &.-is-sticky {
    background-color: var(--color-dark-1);
  }

  .header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 88px;
      
      @include media-below(md) {
        height: 57px;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
    }
    
    &__right {
      display: flex;
      align-items: center;

      @include media-below(md) {
        display: none;
      }
    }

    &__search {
      input {
        ::placeholder {
          color: white;
        }
      }
    }

    &__menuBtn {
      display: flex;

      i {
        font-size: 20px;
      }
    }
  }
}

.headerDropdown {
  position: relative;

  &__button {
    display: flex;
    align-items: center;

    i {
      margin-left: 5px;
    }
  }

  &__content {}

  &.-button {
    .headerDropdown__button {
      padding: 7px 20px;
      border-radius: 200px;
    }
  }
}

.headerMobile {
  &__left {
    display: none;

    @include media-below(md) {
      display: block;
    }
  }

  &__right {
    display: none;

    @include media-below(md) {
      display: flex;
    }
  }
}
