{% extends 'base.html' %}
{% load static %}

{% block title %}
ShadhinTrip: Tours And Packages, all in one.
{% endblock %}

{% block content %}
<section data-anim="fade" class="hero -type-10">
  <div class="hero__bg">
      <img src="{% static 'assets/img/cta/4.jpeg' %}" alt="image">
      <!-- <img src="{% static 'assets/img/hero/1/shape.svg' %}" alt="image"> -->
  </div>
</section>
<section data-anim="fade" class="layout-pt-lg layout-pb-lg">
    <div class="container">
      <div class="row justify-center">
        <div class="col-lg-8 py-60">
          <h2 class="text-30 fw-700 text-center mb-30">Leave us your info</h2>
  
          <div class="contactForm">
            <form method="post" action="{% url 'contact_us' %}">
              {% csrf_token %}
              <div class="row y-gap-30">
                <div class="col-md-6">
                  <input type="text" name="name" placeholder="Name" required>
                </div>
                <div class="col-md-6">
                  <input type="text" name="phone" placeholder="Phone" required>
                </div>
                <div class="col-12">
                  <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="col-12">
                  <input type="text" name="subject" placeholder="Subject" required>
                </div>
                <div class="col-12">
                  <textarea name="message" cols="40" rows="10" placeholder="Message" required></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="button -md -dark-1 bg-accent-1 text-white col-12">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
