{% extends 'base.html' %}
{% load static %}

{% block title %}
ShadhinTrip: Password Reset Complete
{% endblock %}

{% block content %}
<section class="mt-header layout-pt-lg layout-pb-lg">
    <div class="container">
        <div data-anim="slide-up" class="row justify-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="text-center mb-60 md:mb-30">
                    <h1 class="text-30">Password Reset Complete</h1>
                    <p>Your password has been successfully reset.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block additional_scripts %}
{% endblock additional_scripts %}
