{% extends 'base.html' %}
{% load static %}

{% block title %}
ShadhinTrip: Password Reset Confirm
{% endblock %}

{% block content %}
<section class="mt-header layout-pt-lg layout-pb-lg">
    <div class="container">
        <div data-anim="slide-up" class="row justify-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="text-center mb-60 md:mb-30">
                    <h1 class="text-30">Password Reset</h1>
                    <p>Enter your new password below.</p>
                </div>
                <div class="form-check text-center mb-30"></div>
                <form class="text-start" method="POST">
                    {% csrf_token %}
                    <div class="contactForm border-1 rounded-12 px-60 py-60 md:px-25 md:py-30">
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field, error in form.errors.items %}
                                    <strong>{{ field|title }}:</strong> {{ error|join:", " }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.as_p }}
                        <button type="submit" class="button -md -dark-1 bg-accent-1 text-white col-8 mt-30 m-auto">
                            Reset Password
                            <i class="icon-arrow-top-right ml-10"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block additional_scripts %}
{% endblock additional_scripts %}
