{% extends 'base.html' %}
{% load static%}
{% block title %}
ShadhinTrip: Tours And Packages, all in one.
{% endblock %}
{% block content %}
<section data-anim="fade" class="hero -type-10 pt-0">
    <div class="hero__bg">
      <img src="{% static 'assets/img/cta/nepal.jpeg' %}" alt="image">
    </div>
  </section>
<section class="mt-header layout-pb-lg">
    <div class="container">
        <div data-anim="slide-up" class="row justify-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="text-center mb-60 md:mb-30">
                    <h1 class="text-30">Password Reset Email Sent</h1>
                    
                    <p>We've emailed you instructions for setting a new password. If you don't receive the email, please check your spam folder or contact us at support@shadhintrip.com</p>
                    
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content%}

{% block additional_scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/js/sign_in.js' %}"></script>
{% endblock additional_scripts %}
