.header.-type-4 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: .2s;

  &.-is-sticky {
    background-color: white;
  }

  .header {
    &__container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 60px;
      
      @include media-below(md) {
        padding: 20px 20px;
      }
    }

    &__left {}

    &__center {
      position: absolute;
      left: 50%;
      display: flex;
      transform: translateX(-50%);

      @include media-below(lg) {
        display: none;
      }

      > a {
        + a {
          margin-left: 30px;
        }
      }
    }

    &__right {}

    &__logo {
    }
    
    &__right {
      display: flex;
      align-items: center;

      @include media-below(lg) {
        display: none;
      }
    }

    &__search {
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        margin-right: 10px;
      }

      input {
        width: 230px;
      }
    }

    &__menuBtn {
      display: flex;

      i {
        font-size: 20px;
      }
    }
  }

  .desktopNav > * {
    transition: 0.2s;
    &:hover { background-color: #FFEEE7; }

    a:hover {
      color: var(--color-dark-1);
    }
  }

  .headerMobile {
    &__left {
      display: none;
  
      @include media-below(lg) {
        display: block;
      }
    }
  
    &__right {
      display: none;
  
      @include media-below(lg) {
        display: flex;
      }
    }
  }
}

.headerDropdown {
  position: relative;

  &__button {
    display: flex;
    align-items: center;

    i {
      margin-left: 5px;
    }
  }

  &__content {}

  &.-button {
    .headerDropdown__button {
      padding: 7px 20px;
      border-radius: 200px;
    }
  }
}

.headerMobile {
  &__left {
    display: none;

    @include media-below(lg) {
      display: block;
    }
  }

  &__right {
    display: none;

    @include media-below(lg) {
      display: flex;
    }
  }
}
