.blogCard.-type-1 {
  display: block;
  
  .blogCard {
    &__image {
      position: relative;
    }

    &__badge {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 14px;
      font-weight: 500;
      padding: 5px 15px;
      background-color: white;
      border-radius: 200px;
    }

    &__info {
      display: flex;
      align-items: center;
    }

    &__line {
      width: 1px;
      height: 26px;
      background-color: #E7E6E6;
      margin: 0 10px;
    }
  }

  &.-hover- {
  }
}
